In [21]:
from google.cloud import bigquery
client = bigquery.Client()
project = "ugm-yt-etl"
dataset_id = "youtube_data_all"

dataset_ref = bigquery.DatasetReference(project, dataset_id)

In [23]:
table_ref = dataset_ref.table("channel_stats")
table = client.get_table(table_ref)

channel_df = client.list_rows(table).to_dataframe()

In [25]:
table_ref = dataset_ref.table("videos_stats")
table = client.get_table(table_ref)

videos_df = client.list_rows(table).to_dataframe()

In [26]:
channel_df

,Channel_name,Creation_date,Subscribers,Viewers,Total_videos,Playlist_id,Thumbnail
0,Universitas Gadjah Mada,2012-07-25,123000,7277705,1071,UU3ItFj6jCtobDv1JgD9xcTg,https://yt3.ggpht.com/rnLOVSdGe-lsj5sd22t2yXuM...

In [28]:
videos_df.head(5)

,Title,CategoryId,Tags,Published_date,Duration,Views,Likes,Comments,Thumbnail,DurationInSeconds,CategoryTitle
0,Mengenal Varian Delta Covid-19,1,No Tag,2021-06-29,PT46S,490,18,1,https://i.ytimg.com/vi/D4raiMQw8oE/hqdefault.jpg,46.0,Film & Animation
1,Yayuk Basuki Meriahkan Turnamen Tenis Kagama Cup,17,"['UGM Podcast', 'Universitas Terbaik', 'Univer...",2022-11-08,PT3M51S,943,9,0,https://i.ytimg.com/vi/9lRQCf7cUqk/hqdefault.jpg,231.0,Sports
2,WASPADA DIFTERI,19,['ugm_humas_tips'],2017-12-20,PT3M,1486,26,0,https://i.ytimg.com/vi/YE6HdVfGlrQ/hqdefault.jpg,180.0,Travel & Events
3,#UGM30DETIK Upacara Peringatan Ke-72 Kemerdeka...,19,['ugm_humas_kegiatan'],2017-08-17,PT43S,444,11,0,https://i.ytimg.com/vi/TfEUTyJFvCg/hqdefault.jpg,43.0,Travel & Events
4,PPSMB Menurut Para Maba,19,['ugm_humas_tips'],2017-08-10,PT54S,1063,22,0,https://i.ytimg.com/vi/O0bMwq_oals/hqdefault.jpg,54.0,Travel & Events